<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Менеджмент</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script th:src="@{/scripts/jQuery.js}"></script>
</head>
<body>
<section id="background">
    <div class="container">
        <div class="podkluch">
            <form th:action="@{/management/creating/{id}(id=${player.getLogin()})}" th:object="${room}" method="post">
                <div class="numbr" id="numbr">Выберите количество игроков</div>
                <select id="select" th:field="*{numberOfPlayers}" required>
                    <option th:value="4">4</option>
                    <option th:value="3">3</option>
                    <option th:value="2">2</option>
                </select>
                <div class="room" id="room">Введите название комнаты</div>
                <input type="text" class="name_room" th:field="*{name}" required>
                <input type="submit" class="back" value="Назад" th:method="get" th:formaction="@{/management/auth}">
                <input type="submit" class="create" value="Создать игру">

            </form>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/scripts/js.js}"></script>
</body>
</html>