<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Менеджмент</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script type="text/javascript" th:src="@{/scripts/jQuery.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>

<section id="background">
    <div class="container">

        <form th:action="@{/management/exit/{id}(id=${player.getLogin()})}" method="post">
            <input type="submit" class="styleButtonPage" id="exit_rooms" value="Выйти">
        </form>
        <form th:action="@{/management/history/{login}(login=${player.getLogin()})}" method="get">
            <input type="submit" class="styleButtonPage" id="history" value="История комнаты">
        </form>
        <a th:href="@{/management/question/{login}(login=${player.getLogin()})}"><img
                th:src="@{/resources/question.png}" class="question"></a>

        <div class="fieldlogin" id="filed_login">
            <span name="span_right" th:text="'Логин: '"></span>
            <span name="span_right" id="loginPlayer" th:text="${player.getLogin()}"></span>
            <span name="span_right" th:text="'Комната: '+${step.getRoom().getName()}"></span>
            <span name="span_right" th:text="'Номер хода: '+${step.getStepNumber()}"></span>
            <span name="span_right" th:text="'Этап: '+${step.getStageNumber()}"></span>
            <span name="span_right" text="Таймер " class="seconds">60</span>

        </div>
        <span th:if="${room.getCurrentNumberOfPlayers()==1&&(step.getStepNumber()>1||step.getStageNumber()>1)}">
    <script>
        alert("Поздравляю, вы победили!");
        xhr = new XMLHttpRequest();
        xhr.open('POST', "http://localhost:8082/management/exit/" + $("#loginPlayer").text());
        xhr.onload = function () {
            console.log(xhr.responseText);
            document.location.href = xhr.responseURL;
        };
        xhr.send();

    </script>
        </span>
        <img th:src="@{${player.getAvatar()}}" class="fieldavatar">
        <div class="buttons_dynamic">
            <div th:if="${step.getStageNumber()}==1">
                <button th:id="myBtn+${step.getStageNumber()}" name="super" class="styleButtonPage">Подать заявку на
                    ЕСМ
                </button>
            </div>
            <div th:if="${step.getStageNumber()}==2">
                <button th:id="myBtn+${step.getStageNumber()}" name="super" class="styleButtonPage">Переработать ЕСМ в
                    ЕГП
                </button>
            </div>
            <div th:if="${step.getStageNumber()}==3">
                <button th:id="myBtn+${step.getStageNumber()}" name="super" class="styleButtonPage">Подать заявку на
                    ЕГП
                </button>
            </div>
            <div th:if="${step.getStageNumber()}==4">
                <button th:id="myBtn+${step.getStageNumber()}" name="super" class="styleButtonPage">Начать строительство
                    фабрик
                </button>
                <button th:id="myBtn5">Взять ссуду</button>
            </div>
        </div>
        <!--        <input type="submit" class="styleButtonPage" id = "history" value="История комнаты">КАТЯ ЭТО ЗАКОМЕНЧЕНО ТАК КАК ПЕРЕНЕСЕНО НАВЕРХ, НО НА ВСЯКИЙ Я ОСТАВИЛА-->
        <!--        <a th:href="@{/management/question/{login}(login=${player.getLogin()})}"><img th:src="@{/resources/question.png}" class="question"></a>-->
        <form th:if="${room.getCurrentNumberOfPlayers()>=2&&repeat==false}"
              th:action="@{/management/newStage/{id}(id=${player.getLogin()})}" method="post">
            <input type="submit" id="submitNewStage" class="styleButtonPage" value="Далее">
        </form>
        <span class="fieldlogin" th:if="${repeat==true}">Ожидание пока все игроки сделают ход...
            <script>
                 var seconds = 5;
                 var seconds_timer_id = setInterval(function () {
                     if (seconds > 0) {
                         seconds--;
                     } else {
                         clearInterval(seconds_timer_id);
                         xhr = new XMLHttpRequest();
                         xhr.open('GET', "http://localhost:8082/management/newStage?login=" + $("#loginPlayer").text());
                         xhr.onload = function () {
                             console.log(xhr.responseText);
                             document.location.href = xhr.responseURL;
                             document.location.reload();
                         };
                         xhr.send();
                     }
                 }, 1000);
            </script>
        </span>
        <span class="fieldlogin" th:if="${room.getCurrentNumberOfPlayers()<2&&step.getStepNumber()<2}">Ожидание игроков...
            <script>
                 var seconds = 5;
                 var seconds_timer_id = setInterval(function () {
                     if (seconds > 0) {
                         seconds--;
                     } else {
                         clearInterval(seconds_timer_id);
                         xhr = new XMLHttpRequest();
                         xhr.open('GET', "http://localhost:8082/management/room?login=" + $("#loginPlayer").text());
                         xhr.onload = function () {
                             console.log(xhr.responseText);
                             document.location.href = xhr.responseURL;
                             document.location.reload();
                         };
                         xhr.send();
                     }
                 }, 1000);
            </script>
        </span>
        <div class="bankMove"><img th:src="@{/resources/bank.jpg}" class="bank"></div>
        <div class="bagfield">
            <div class="labelbag">Рюкзак</div>
            <img th:src="@{/resources/money.png}" class="bag_picture">

            <div class="zavod"><img th:src="@{/resources/mexan.png}" class="bag_picture"></div>

            <div class="zavod"><img th:src="@{/resources/avtomat.png}" class="bag_picture"></div>

            <div class="bag_kolvo">
                <br>
                <br>
                <span class="money_sum" id="money" th:text="'Капитал: '+${step.getCapital()}"></span><br>
                <input type="hidden" id="capital" th:value="${step.getCapital()}">
                <span class="money_sum" id="mexan" th:text="'Обычные заводы: '+${step.getNumberOfBasicPlants()}"></span><br>
                <span class="money_sum" id="avtomat"
                      th:text="'Автоматизированные заводы: '+${step.getNumberOfAutoPlants()}"></span><br>
                <span th:text="'Количество ЕСМ: '+${step.getNumberOfESM()}"></span><br>
                <span th:text="'Количество ЕГП: '+${step.getNumberOfEGP()}"></span><br>
            </div>
        </div>
        <div id="woman_image">
            <div>
                <div class="player1"><span th:text="${player.getLogin()}"></span><br>
                    <a href="#"><img th:src="@{${player.getAvatar()}}" class="player"></a>

                </div>
            </div>
            <div th:each="otherPlayer, iter : ${otherPlayers}">
                <div th:class="player+${iter.index+2}"><span th:text="${otherPlayer.getLogin()}"></span><br>
                    <a href="#"><img th:src="@{${otherPlayer.getAvatar()}}" class="player"></a></div>
            </div>
        </div>
        <div th:if="${step.getStageNumber()}==1">
            <div id="myModal1" class="modal">
                <div class="modal-content">
                    <div class="modal-body">
                        <form th:action="@{/management/applyESM/{id}(id=${player.getLogin()})}" method="post"
                              th:object="${bid}">
                            <div class="left">
                                <h3>Заявка на покупку</h3>
                                <p>Выберите количество сырья и материалов</p>
                                <input type="number" name="ESM" id="ESM1StageCount" placeholder="0" th:min="0"
                                       th:max="${step.getCountESM()}"
                                       th:field="*{numberOfUnits}">
                                <p>Введите цену</p>
                                <input type="number" name="ESM" id="ESM1StageMoney" placeholder="0"
                                       th:value="${step.getMinMoneyESM()}"
                                       th:min="${step.getMinMoneyESM()}" step="100" th:max="${step.getCapital()}"
                                       th:field="*{amountOfMoney}">

                            </div>
                            <div class="right">
                                <h3>Условия банка</h3>
                                <p> Количество сырья и материалов</p>
                                <span name="ESM" th:text="${step.getCountESM()}"></span>
                                <p>Минимальная цена</p>
                                <span name="ESM" th:text="${step.getMinMoneyESM()}"></span>
                            </div>
                            <div class="buttons_pererab">
                                <input type="submit" name="pererabotka" value="Отправить" class="styleButtonPage">
                                <input type="submit" name="cancel" value="Отмена" class="styleButtonPage">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${step.getStageNumber()}==2">
            <div id="myModal2" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/management/applyProcess/{login}(login=${player.getLogin()})}" method="post"
                              th:object="${factoryBuilding}">
                            <h3>Доступное количество сырья</br> и материалов</h3>
                            <span name="material" th:text="${step.getNumberOfESM()}"></span>
                            <div class="wow">
                                <div class="capital">
                                    <h4>Капитал</h4>
                                </div>
                                <div class="box_line"></div>
                                <img th:src="@{/resources/money.png}" class="money">
                                <span name="zatrata" th:text="${step.getCapital()}"></span>
                                <div class="expense">
                                    <h4>Затраты</h4>
                                </div>
                                <div class="pererab">
                                    <h4>Переработка сырья в готовую продукцию</h4>
                                </div>
                            </div>
                            <div class="box_line"></div>
                            <div class="ob_fabrica">
                                <div class="ob_fabrica_name">
                                    <h4>Обычная фабрика</h4>
                                </div>
                                <span name="obch_fabrica" id="sumMoneyObESM"></span>
                                <img th:src="@{/resources/mexan.png}" class="mexan">
                                <input type="number" id="mexanESM" name="mexan" placeholder="0" min="0"
                                       th:max="${step.getNumberOfBasicPlants()}" th:field="*{numberOfBasicFactory}">
                            </div>
                            <!--                            <div class="box_line"></div>-->
                            <div class="avto_fabrica">
                                <div class="avto_fabrica_name">
                                    <h4>Автоматизированная фабрика</h4>
                                </div>
                                <span name="avtomat_fabrica" id="sumMoneyAvtESM"></span>
                                <img th:src="@{/resources/avtomat.png}" class="avtomat">
                                <input type="number" name="avtomat" placeholder="0" id="avtomatESM" min="0"
                                       th:max="${step.getNumberOfAutoPlants()*2}"
                                       th:field="*{numberOfAutoFactory}">
                            </div>
                            <div class="buttons_pererab">
                                <input type="submit" name="pererabotka" value="Переработать" class="styleButton">
                                <input type="submit" name="cancel" value="Отмена" class="styleButton" id="cancelBtn1">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${step.getStageNumber()}==3">
            <div id="myModal3" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/management/applyEGP/{id}(id=${player.getLogin()})}" method="post"
                              th:object="${bid}">
                            <div class="left">
                                <h3>Заявка на продажу</h3>
                                <p>Выберите количество готовой продукции</p>
                                <input type="number" name="ESM" placeholder="0" th:min="0"
                                       th:max="${step.getNumberOfEGP()}"
                                       th:field="*{numberOfUnits}">
                                <p>Введите цену</p>
                                <input type="number" name="ESM" placeholder="0" th:value="0"
                                       th:min="0" step="100" th:max="${step.getMaxMoneyEGP()}"
                                       th:field="*{amountOfMoney}">

                            </div>
                            <div class="right">
                                <h3>Условия банка</h3>
                                <p> Количество готовой продукции</p>
                                <span name="EGP" th:text="${step.getCountEGP()}"></span>

                                <p>Максимальная цена</p>
                                <span name="ESM" th:text="${step.getMaxMoneyEGP()}"></span>
                            </div>
                            <div class="buttons_pererab">
                                <input type="submit" name="pererabotka" value="Отправить" class="styleButtonPage">
                                <input type="submit" name="cancel" value="Отмена" class="styleButtonPage">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${step.getStageNumber()}==4">
            <div id="myModal5" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/management/applyLoans/{id}(id=${player.getLogin()})}" method="post"
                              th:object="${loan}">
                            <div class="wow">
                                <div class="capital">
                                    <h4>Капитал</h4>
                                </div>

                                <img th:src="@{/resources/money.png}" class="money">
                                <span name="zatrata" th:text="${step.getCapital()}"></span>
                                <div class="ssuda">
                                    <h4>Взять ссуду</h4>
                                </div>
                            </div>
                            <div class="box_line"></div>
                            <div class="ob_fabrica">
                                <div class="ob_fabrica_name">
                                    <h4>Обычная фабрика</h4>
                                </div>

                                <img th:src="@{/resources/mexan.png}" class="mexan_ssuda">
                                <input type="number" name="mexan" placeholder="0"
                                       th:min="0" step="1" th:max="${step.getCapital()}"
                                       th:field="*{numberLoanForBasicPlants}">
                                <input type="hidden" th:field="*{startStep}" th:value="${step.getStepNumber()}">
                            </div>
                            <!--                            <div class="box_line"></div>-->
                            <div class="avto_fabrica">
                                <div class="avto_fabrica_name_ssuda">
                                    <h4>Автоматизированная фабрика</h4>
                                </div>

                                <img th:src="@{/resources/avtomat.png}" class="avtomat_ssuda">
                                <input type="number" name="avtomat" placeholder="0" th:min="0" step="1"
                                       th:max="${step.getCapital()}"
                                       th:field="*{numberLoanForAutoPlants}">
                            </div>
                            <div class="buttons_ssuda">
                                <input type="submit" name="pererabotka" value="Получить ссуду" class="styleButtonSsuda">
                                <input type="submit" name="cancel" value="Отмена" class="styleButtonSsuda"
                                       id="cancelBtn4">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
            <div id="myModal4" class="modal">///Катюша это покупки фабрик
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/management/applyBuildings/{id}(id=${player.getLogin()})}" method="post"
                              th:object="${factoryBuilding}">
                            <div class="wow2">

                                <div class="havefabriki"><h4>Имеющиеся фабрики</h4></div>
                                <div class="capital"><h4>Капитал</h4></div>
                                <img th:src="@{/resources/money.png}" class="money">
                                <span name="zatrata" th:text="${step.getCapital()}"></span>

                            </div>
                            <div class="box_line"></div>
                            <div class="ob_fabrica_fabr">
                                <div class="ob_fabrica_name_fabr"><h4>Обычная фабрика</h4>
                                </div>
                                <span name="obch_fabrica" th:text="${step.getNumberOfBasicPlants()}"></span>
                                <img th:src="@{/resources/mexan.png}" class="mexan">

                            </div>

                            <div class="box_line_white"></div>
                            <div class="avto_fabrica_fabr">
                                <div class="avto_fabrica_name"><h4>Автоматизированная фабрика</h4>
                                </div>
                                <span name="avtomat_fabrica" th:text="${step.getNumberOfAutoPlants()}"></span>
                                <img th:src="@{/resources/avtomat.png}" class="avtomat">

                            </div>
                            <div class="box_line"></div>
                            <div class="wow2">
                                <div class="buy"><h4>Покупка</h4></div>
                                <div class="cost"><h4>Стоимость</h4></div>
                                <div class="avtomatizac"><h4>Автоматизация</h4></div>
                            </div>
                            <div class="box_line_white"></div>
                            <div class="ob_fabrica">
                                <div class="ob_fabrica_name">
                                    <h4>Обычная фабрика</h4>
                                </div>
                                <span name="obch_fabrica_fabr" id="obch_fabrica_cost" th:text="0"></span>
                                <img th:src="@{/resources/mexan.png}" class="mexan">
                                <input type="number" id="build_obch_fabr" name="mexan_fabr" min="0" step="1"
                                       th:field="*{numberOfBasicFactory}"
                                       th:max="${step.getCapital()/5000}">
                                <input th:if="${step.getCapital()/7000}<${step.getNumberOfBasicPlants()}"
                                       th:field="*{numberOfProcessFactory}" type="number"
                                       id="auth_obch_fabr" name="new_fabrika" min="0" step="1"
                                       th:max="${step.getCapital()/7000}">
                                <input th:if="${step.getCapital()/7000}>=${step.getNumberOfBasicPlants()}"
                                       th:field="*{numberOfProcessFactory}" type="number"
                                       id="auth_obch_fabr" name="new_fabrika" min="0" step="1"
                                       th:max="${step.getNumberOfBasicPlants()}">
                                <!-- <div class="box_vertical"></div> -->

                            </div>

                            <div class="avto_fabrica">
                                <div class="avto_fabrica_name">

                                    <h4>Автоматизированная фабрика</h4>
                                </div>
                                <span name="avtomat_fabrica_fabr" id="avtomat_fabrica_cost" th:text="0"></span>
                                <img th:src="@{/resources/avtomat.png}" class="avtomat">
                                <input type="hidden" th:value="${step.getStepNumber()}" th:field="*{startStep}">
                                <input type="number" id="build_avtomat_fabr" name="avtomat_fabr" min="0" step="1"
                                       th:max="${step.getCapital()/10000}" th:field="*{numberOfAutoFactory}">
                            </div>
                            <div class="buttons_avtomat">
                                <input type="submit" name="pererabotka" value="Купить" class="styleButtonSsuda">
                                <input type="submit" name="cancel" value="Отмена" class="styleButtonSsuda"
                                       id="cancelBtn5">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>

        </div>
        <div th:if="${table}">
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" th:href="'/management/room?login='+${player.getLogin()}">&times;</a>
                    </div>
                    <div class="modal-body">
                        <table class="table_dark" th:if="${lastSteps!=null}">
                            <tr>
                                <td colspan="4">Решение банка</td>
                                <td colspan="2">Заявка</td>
                            </tr>
                            <tr>
                                <th>Игрок</th>
                                <th>Количество единиц</th>
                                <th>Цена за единицу</th>
                                <th>Итоговая цена</th>
                                <th>Количество единиц</th>
                                <th>Цена за единицу</th>
                            </tr>
                            <tr th:each="curStep : ${lastSteps}">
                                <td th:text="${curStep.getPlayer().getLogin()}"></td>
                                <td th:text="${curStep.getBid().getBankDecision()}"></td>
                                <td th:text="${curStep.getBid().getAmountOfMoney()}"></td>
                                <td th:text="${curStep.getBid().amountOfMoney*curStep.getBid().getBankDecision()}"></td>
                                <td th:text="${curStep.getBid().numberOfUnits}"></td>
                                <td th:text="${curStep.getBid().amountOfMoney}"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
                <div class="player1"><span id="playerdata" th:text="${player.getLogin()}"></span>
                    <div class="modalka">
                        <div class="bagfield">
                            <div class="labelbag">Рюкзак</div>
                            <img th:src="@{/resources/money.png}" class="bag_picture">

                            <div class="zavod"><img th:src="@{/resources/mexan.png}" class="bag_picture"></div>

                            <div class="zavod"><img th:src="@{/resources/avtomat.png}" class="bag_picture"></div>

                            <div class="bag_kolvo">
                                <br>
                                <br>
                                <span class="money_sum" id="moneyOtherPlayer"
                                      th:text="'Капитал: '+${step.getCapital()}"></span><br>
                                <span class="money_sum" id="mexanOtherPlayer"
                                      th:text="'Обычные заводы: '+${step.getNumberOfBasicPlants()}"></span><br>
                                <span class="money_sum" id="avtomatOtherPlayer"
                                      th:text="'Автоматизированные заводы: '+${step.getNumberOfAutoPlants()}"></span><br>
                                <span th:text="'Количество ЕСМ: '+${step.getNumberOfESM()}"></span><br>
                                <span th:text="'Количество ЕГП: '+${step.getNumberOfEGP()}"></span><br>
                            </div>
                        </div>
                    </div>
                    <script>
                        'use strict';

                        function gid(i) {
                            return document.getElementById(i);
                        }

                        function QS(el, s) {
                            return el.querySelector(s);
                        }

                        var min1 = gid('playerdata'), ms = QS(document, '.modalka').style;

                        min1.onmouseover = function () {
                            var box = this.getBoundingClientRect();
                            ms.left = box.left + 5 + 'px';
                            ms.top = box.bottom - 5 + 'px';
                            ms.display = 'block';
                        };

                        min1.onmouseout = function () {
                            ms.display = 'none';
                        }
                    </script>
                </div>

                <script>
                    var myModal = document.getElementById('myModal');
                    myModal.style.display = "block";
                </script>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/scripts/js.js}"></script>
</body>
</html>