<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">	
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" th:href="@{/styles/demo.css}" >
    <link rel="stylesheet" th:href="@{/styles/accordeon.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/styles/history.css}">
  </head>
  <body>
    <form>
    <div class="header">
      <span name="historyPlayer" id="loginPlayer">История комнаты игрока: </span>
     <!-- <input type="submit" name ="back"value="Назад" class="styleButtonPage"  id="back"> -->
    </div>
    <div class="container">
  <div class="back_center">
     <table class="table_dark">
       <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th colspan="6">Количество</th>
    <th colspan="3">Строящиеся фабрики</th>
    </tr>
       <tr>
         <div class="no">
           <th>Номер хода</th>
           <th>Номер этапа</th>
           <th>Капитал</th>
         </div>
         <td>ЕСМ</td>
         <td>ЕГП</td>
         <td>Обычные фабрики</td>
         <td>Автоматизированные фабрики</td>
         <td>Ссуды на обычные фабрики</td>
         <td>Ссуды на автоматизированные фабрики</td>
         <td>Обычные фабрики</td>
         <td>Автоматизированные фабрики</td>
         <td>Модифицирующаяся фабрика</td>
       </tr>
       <tr th:each="step : ${steps}">
         <td><span th:text="${step.getStepNumber()}"></span></td>
         <td><span th:text="${step.getStageNumber()}"></span></td>
         <td><span th:text="${step.getCapital()}"></span></td>
         <td><span th:text="${step.getNumberOfESM()}"></span></td>
         <td><span th:text="${step.getNumberOfEGP()}"></span></td>
         <td><span th:text="${step.getNumberOfBasicPlants()}"></span></td>
         <td><span th:text="${step.getNumberOfAutoPlants()}"></span></td>
         <td>
           <div th:each="loan : ${loans}">
             <span th:if="${step.getStepNumber()==loan.getStartStep()}"
                                                         th:text="${loan.getNumberLoanForBasicPlants()}">
           </span>
           </div>
         </td>
         <td>
           <div th:each="loan : ${loans}">
           <span th:if="${step.getStepNumber()==loan.getStartStep()}"
                 th:text="${loan.getNumberLoanForAutoPlants()}">
           </span>
           </div>
         </td>
         <td>
           <div th:each="building : ${buildings}">
             <span th:if="${step.getStepNumber()==building.getStartStep()}"
                                                         th:text="${building.getNumberOfBasicFactory()}">
           </span>
           </div>
         </td>
         <td>
           <div th:each="building : ${buildings}">
           <span th:if="${step.getStepNumber()==building.getStartStep()}"
                 th:text="${building.getNumberOfAutoFactory()}">
           </span>
           </div>
         </td>
         <td>
           <div th:each="building : ${buildings}">
             <span th:if="${step.getStepNumber()==building.getStartStep()}"
                   th:text="${building.getNumberOfAutoFactory()}">
           </span>
           </div>
         </td>
      </tr>
     </table>
  </div>
    </div>
  </form>
  </body>
</html>