<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Менеджмент</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script th:src="@{/scripts/jQuery.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

<section id="background">
    <div class="container">
        <div class="podcluch">
            <form th:action="@{/management/room}" method="get">
                <div class="login_pod"> <p th:text="${newPlayer.login}"></p></div>
                <div class="podcluch_img">
                    <img th:src="@{${newPlayer.getAvatar()}}" class="playertop" th:alt="${newPlayer.login}">
<!--                    <div class="login_pod"> <p th:text="${newPlayer.login}"></p></div> Катя перенесла на 17 -->
                </div>
                <input type="hidden" th:value="${newPlayer.getLogin()}" th:name="login">
                <div class="choose" id="room">Выберите комнату
                    <table class="child_table" th:if="${rooms}!=null">
                        <tr>
                            <th>Выбор</th>
                            <th>Название комнаты</th>
                            <th>Количество мест</th>
                        </tr>
                        <tr th:each="room : ${rooms}">
                            <td><input type="radio" th:name="id" th:value="${room.getRoomId()}" required></td>
                            <td><span th:text="${room.getName()}" th:href="@{/management/room}"></span></td>
                            <td><span
                                    th:text="${room.getCurrentNumberOfPlayers()} + '/' + ${room.getNumberOfPlayers()}"> </span>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" class="podcluch_game" value="Подключиться к игре">
                </div>
            </form>
            <form><input type="submit" class="back_podc" value="Назад"
                         th:formaction="@{/management/auth}"></form>
        </div>
    </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/scripts/js.js}"></script>
</body>
</html>