<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="utf-8">
  <title>Sait</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
  <script th:src="@{/scripts/jQuery.js}"></script>
</head>
<body>
<form th:action="@{/management/creating}" th:object="${player}" method="post">
<section id ="background">
  <div class="container">
      <div class="registration">
          <div class="login">Введите логин</div>
          <input type="text" class="entry" th:field="*{login}" required >
          <div class="gender">Выберите пол</div>
          <label th:each="genger : ${T(com.ssau.gruppa6414.models.Gender).getValues()}">
              <input type="radio" th:id="gen+${genger.getNumber()}" th:class="radio + ${genger.getNumber()}" th:value="${genger}"
                     th:text="${genger.getText()}" name="radio" th:field="*{gender}" required>
          </label>
          <div class="avatar">Выберите аватар</div>
          <div id="woman_image">
              <label>
                  <input type="radio" name="avatar" th:value="@{/resources/Sdeiner.jpg}" th:field="*{avatar}" checked>
                  <img th:src="@{/resources/Sdeiner.jpg}" class="deiner">
              </label>
              <label>
                  <input type="radio" name="avatar"  th:value="@{/resources/kara.jpg}" th:field="*{avatar}">
                  <img th:src="@{/resources/kara.jpg}" class="deiner">
              </label>
              <label>
                  <input type="radio" name="avatar"  th:value="@{/resources/everdin.jpg}" th:field="*{avatar}">
                  <img th:src="@{/resources/everdin.jpg}" class="deiner">
              </label>
              <label>
                  <input type="radio" name="avatar"  th:value="@{/resources/kenny.jpg}" th:field="*{avatar}">
                  <img th:src="@{/resources/kenny.jpg}" class="deiner">
              </label>
          </div>
          <div id="man_image">
              <label>
                  <input type="radio" name="avatar" th:value="@{/resources/petrov.jpg}" th:field="*{avatar}" checked>
                  <img th:src="@{/resources/petrov.jpg}" class="deiner">
              </label>
              <label>
                  <input type="radio" name="avatar"  th:value="@{/resources/pirat.jpg}" th:field="*{avatar}">
                  <img th:src="@{/resources/pirat.jpg}" class="deiner">
              </label>
              <label>
                  <input type="radio" name="avatar"  th:value="@{/resources/snow.jpg}" th:field="*{avatar}">
                  <img th:src="@{/resources/snow.jpg}" class="deiner">
              </label>
              <label>
                  <input type="radio" name="avatar" th:value="@{/resources/rosom.jpg}" th:field="*{avatar}">
                  <img th:src="@{/resources/rosom.jpg}" class="deiner">
              </label>
          </div>
          <div class="information2">
              <input type="submit" class="styleButtonPage" value="Создать игру">
              <input type="submit" class="styleButtonPagePod"name="podkl" value="Подключиться к игре"
                     th:formaction="@{/management/connection}">
          </div>
      </div>
  </div>
</section>
</form>

<script type="text/javascript" th:src="@{/scripts/js.js}"></script>
</body>
</html>