<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link  rel="stylesheet" th:href="@{/styles/demo.css}" >
    <link rel="stylesheet" th:href="@{/styles/accordeon.css}" >
</head>
<body>
    <!-- container -->
    <div class="container">
        <div class="main clearfix">
            <div class="column">
                <p>
                    Деловая игра «Менеджмент» - это инновационная разработка студентов 4 курса Денисовой Екатерины, Антоновой Анны, Морозовой Екатерины. В данном игре вы сможете покупать сырье, продавать продукцию, строить и автоматизировать собственные фабрики,  брать ссуды на строительство. Вы можете ознакомится с более подробной информацией в сведениях об игре. Не упустите возможности почувствовать себя настоящим монополистом!
                </p>
            </div>
            <div class="column">
                <p>Сведения о разработчиках</p>
                <br>
                <div class="accordion">
                    <input class="toggle-box" id="block-1" type="checkbox">
                    <label for="block-1">Денисова Екатерина</label>
                    <div class="box">
                        <img class="left-img" th:src="@{/resources/ekaterina.jpg}"/><b>Денисова Екатерина Юрьевна</b> — студент группы 6414-020302D Самарского Университета. Екатерина является мозговым центром разработки с точки зрения логики программирования проекта. Владеет таким языком программирования, как Java, который успешно использует в проекте. Работает в компании NetCracker на должности Junior Software Engineer.
                    </div>
                    <input class="toggle-box" id="block-2" type="checkbox" >
                    <label for="block-2">Антонова Анна</label>
                    <div class="box">
                        <img class="left-img" th:src="@{/resources/anna.jpg}"/><b>Антонова Анна Александровна</b> — студент группы 6414-020302D Самарского Университета.
                        Анна является дизайнером проекта и отвечает за его внешнее представление пользователю, соответствие современным стилевым трендам. Владеет такими языками как HTML, CSS, JavaScript, программой Axure предназначенной для разработки прототипов проекта. Работает в компании NetCracker на должности Junior Business Analyst.
                    </div>
                    <input class="toggle-box" id="block-3" type="checkbox" >
                    <label for="block-3">Морозова Екатерина</label>
                    <div class="box">
                        <img class="left-img" th:src="@{/resources/moro.jpg}"/><b>Морозова Екатерина Витальевна</b>  — студент группы 6414-020302D Самарского Университета. Екатерина является идейным и духовным вдохновителем проекта. Владеет таким средством графическим моделирования как язык UML, с помощью которого успешно проектирует системы. Основным инструментом работы Екатерины является программы StarUML и Word, в которых ей нет равных.
                        Работает в компании Сбербанк в отделе мониторинга и аналитики.
                    </div>
                </div>
                <br>
                <p>Сведения о системе</p><p><span>Деловая игра «Менеджмент»</span></p>
                <br>
                <div class="accordion">
                    <input class="toggle-box" id="block-01" type="checkbox">
                    <label for="block-01">Общая информация</label>
                    <div class="box">
                        Процесс игры начинается с назначения советом директоров президента компании. Компания владеет несколькими фабриками. Каждый месяц компания покупает сырье, обрабатывает его и продает изготовленную продукцию публике, ждущей ее с нетерпением. Во время игры пользователи решают, сколько и каких товаров выпускать, стоит ли и когда именно расширять производственные мощности, как финансировать их расширение и как принять скромно-застенчивый вид, отчитываясь о незаконных прибылях. Перед тем как приступить к работе, игроки строят модель промышленности в целом, чтобы в частном порядке отработать свою линию поведения.
                    </div>
                    <input class="toggle-box" id="block-02" type="checkbox" >
                    <label for="block-02">Начальная ситуация</label>
                    <div class="box">
                        Моделирование ведётся с шагом по времени в один месяц. В начале игры каждый игрок (президент компании) получает две обычные фабрики, четыре единицы сырья и материалов (ЕСМ), две единицы готовой продукции (ЕГП) и 10000 долларов наличными. Игроки занумерованы от 1 до N, и в первом круге игрок 1 – старший. С каждым кругом (то есть ежемесячно) роль старшего переходит к следующему по порядку номеров игроку, после N-го старшим становится опять первым (так что номер старшего в круге Т вычисляется по формуле (T mod N) + 1). На торгах при прочих равных условиях выигрывает самый старший игрок (тот, кто будет старшим в следующем круге).
                    </div>
                    <input class="toggle-box" id="block-03" type="checkbox" >
                    <label for="block-03">Ежемесячные ситуации</label>
                    <div class="box">
                        <!-- <img class="large-img" src="img/dbmast.jpg"/> -->Описанные ниже сделки происходят каждый месяц и именно в указанном порядке. Если в какой-то момент компания не может выполнить своих финансовых обязательств, она немедленно объявляется банкротом. Её имущество пропадает, и она выходит из игры (так что лучше иметь наготове запас наличных). Все денежные расчёты происходят между отдельными игроками и одним общим банком. Невозможна передача денег прямо от игрока к игроку, что исключает сговор, направленный против какой-либо компании. Банк кроме того, контролирует источники сырья и скупает всю готовую продукцию.
                    </div>
                    <input class="toggle-box" id="block-04" type="checkbox" >
                    <label for="block-04">Постоянные издержки</label>
                    <div class="box">
                        Каждый игрок (в порядке убывания старшинства, начиная со старшего) платит 300 долларов за каждую имеющуюся у него ЕСМ, 500 долларов за каждую наличную ЕГП, 1000 долларов за владение каждой обычной фабрикой и 1500 долларов – за владение автоматизированной. Это постоянные ежемесячные издержки каждого игрока, даже если он в этом круге не предпринимает никаких других действий
                    </div>
                    <input class="toggle-box" id="block-05" type="checkbox" >
                    <label for="block-05">Определение обстановки на рынке</label>
                    <div class="box">
                        Банк решает и сообщает игрокам, сколько ЕСМ продаст в этот раз и какова их минимальная цена. Объявляется также, сколько ЕГП в общей сложности будет закуплено и какова максимальная цена.
                        В таблице 1 приведены пять уровней предложения ЕСМ и спроса на ЕГП (обратите внимание, что с ростом одной из этих величин другая убывает), а также верхние и нижние границы цен для каждого случая. В число игроков Р не включены те, кто обанкротился, и Р может, таким образом, быть меньше N.
                        <img class="large-img" th:src="@{/resources/table1.jpg}"/>
                        В таблице 2 приведена матрица вероятностей перехода, в соответствии с которой банк определяет новый месячный уровень спроса и предложения, исходя из прежнего. Предполагается, что в нулевом месяце уровень равен 3.
                        <img class="large-img" th:src="@{/resources/table2.jpg}"/>
                    </div>
                    <input class="toggle-box" id="block-06" type="checkbox" >
                    <label for="block-06">Заявки на сырьё и материалы</label>
                    <div class="box">
                        Каждый игрок тайно от других готовит заявку на ЕСМ на текущий месяц. В заявке указывается требуемое число ЕСМ и предлагается цена не ниже банковской минимальной (запрос нуля ЕСМ или предложение цены ниже минимальной автоматически исключает игрока из торгов в этом месяце). Все заявки раскрываются одновременно, и имеющиеся ЕСМ распределяются между игроками в порядке убывания предложенной цены. Если сырья не хватает на всех, заявки с предложением более низкой цены не удовлетворяются. При прочих равных условиях сырье достаётся самому старшему игроку. Игроки платят за сырьё при его получении. Банк не сохраняет оставшееся после удовлетворения заявок сырьё на следующий месяц.
                    </div>
                    <input class="toggle-box" id="block-07" type="checkbox" >
                    <label for="block-07">Производство продукции</label>
                    <div class="box">
                        Все игроки по очереди (по убыванию старшинства, начиная со старшего) объявляют, сколько ЕСМ они собираются переработать в ЕГП в текущем месяце и на каких фабриках. Каждый игрок тут же обязан покрыть расходы на производство. Обычная фабрика может за месяц переработать одну ЕСМ при затратах 2000 долларов. Автоматизированная фабрика может либо сделать то же, либо переработать 2 ЕСМ при затратах в 3000 долларов. Конечно, чтобы переработать ЕСМ, их надо иметь.
                    </div>
                    <input class="toggle-box" id="block-08" type="checkbox" >
                    <label for="block-08">Продажа продукции</label>
                    <div class="box">
                        При покупке банком у игроков ЕГП организуются примерно такие же торги, как и при продаже ЕСМ. Заявленные цены не должны превышать максимальную цену, установленную банком, причём банк покупает ЕГП в первую очередь у тех, кто заявил более низкую цену. При прочих равных условиях предпочтение отдаётся старшему игроку. Если предпочтение превышает спрос, наиболее дорогие ЕГП остаются непроданными. Игроки получают деньги за продукцию при её продаже.
                    </div>
                    <input class="toggle-box" id="block-09" type="checkbox" >
                    <label for="block-09">Ссуда</label>
                    <div class="box">
                        Каждый игрок платит один процент от общей суммы непогашенных ссуд, в том числе и тех, которые будут погашены в текущем месяце.
                        Каждый игрок, получивший ссуду до текущего месяца, должен её погасить. Поскольку возвращение ссуд предшествует получению новых, платить надо наличными. Теперь каждый игрок может получить ссуду. Ссуды обеспечиваются имеющимися у игрока фабриками; под обычную фабрику даётся ссуда 5000 долларов, под автоматизированную – 10000 долларов. Общая сумма непогашенных ссуд не может превышать половины гарантированного капитала, но в этих пределах можно свободно занимать. Банк немедленно выплачивает ссуду игроку. Срок погашения ссуды истекает через 12 месяцев – например, ссуду, взятую в 3-м месяце, возвращать надо в 15-м. Нельзя погашать ссуды раньше срока.
                    </div>
                    <input class="toggle-box" id="block-10" type="checkbox" >
                    <label for="block-10">Заявки на строительство</label>
                    <div class="box">
                        Игроки могут строить новые фабрики. Обычная фабрика стоит 5000 долларов и начинает давать продукцию на 5-й месяц после начала строительства; автоматизированная фабрика стоит 10000 долларов и даёт продукцию на 7-й месяц после начала строительства. Обычную фабрику можно автоматизировать за 7000 долларов, реконструкция продолжается 9 месяцев, всё это время фабрика может работать как обычная. Половину стоимости фабрики надо платить в начале строительства, вторую половину – за месяц до начала выпуска продукции в этой же фазе цикла. Общее число имеющихся и строящихся фабрик у каждого игрока не должно превышать шести.
                    </div>
                    <input class="toggle-box" id="block-11" type="checkbox" >
                    <label for="block-11">Окончание игры и подсчет результатов</label>
                    <div class="box">
                        Игра оканчивается после некоторого фиксированного числа кругов (13 и более) или, когда обанкротятся все игроки, кроме одного. Чтобы подсчитать общий капитал компании, надо сложить стоимость всех фабрик (по цене, по которой их можно было бы построить заново), стоимость имеющихся у неё ЕСМ (по минимальной банковской цене текущего месяца), стоимость имеющихся ЕГП (по максимальной банковской цене текущего месяца) и имеющиеся у компании наличные. После этого надо вычесть общую сумму ссуд и предстоящих расходов по уже начатому строительству. Если к концу игры приходят несколько игроков, результаты считаются по их капиталам.
                        Любой игрок в любой момент может узнать состояние дел другого игрока – его капитал, наличные, взятые ссуды, всё, что касается готовой продукции, имеющихся и строящихся фабрик. Во время торгов игроки ничего не знают о заявках, сделанных другими, но, как только банк собрал все заявки, они обнародуются, и количество купленных или проданных каждым игроком единиц становится известно всем. Игроки могут сами вести любые записи, но банк не предоставляет им никакой информации, кроме той, которая предусмотрена правилами игры.
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>