/* Базовые стили демо-страницы */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);



*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body, html { font-size: 100%; padding: 0; margin: 0; }



/* Clearfix хак от Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }



body {

    font-family: 'Open Sans', Calibri, Arial, sans-serif;
    color: #fff;
    background: url(../resources/background.jpg);
    overflow: scroll;
    padding: 0;
    margin: 0;
    font-family: Calibri, sans-serif;
    font-size: 14px;
    color:white;

}

a {

    color: #c0392b;

    text-decoration: none;

}



a:hover,

a:active {

    color: #333;

}



/* Стиль Шапки и Заголовка */

.main,

.container,.header {

    margin: 0 auto;
    width: 1180px;
    padding: 1.2em;

}



.header {

    text-align: center;

    /*background: rgb(62, 151, 221);*/

    padding: 2em;

}



.header h1 {

    font-size: 2.625em;

    line-height: 1.3;

    margin: 0;

    font-weight: 300;

}



.header span {

    display: block;

    font-size: 55%;

    opacity: 0.7;

    padding: 0 0 0.6em 0.1em;

}



/* Основное содержание */

.main {

    max-width: 69em;

}



.column {

    float: left;

    width: 50%;

    padding: 0 2em;

    min-height: 300px;

    position: relative;

}



.column:nth-child(2) {

    box-shadow: -1px 0 0 rgba(0,0,0,0.1);

}



.column p {

    font-weight: 300;

    font-size: 1.5em;

    padding: 0;

    margin: 0;

    text-align: right;

    line-height: 1.5;

}



/* Стиль верхней навигации */

.nav-top {

    background: #3B7BAD;

    position: fixed;
    text-transform: uppercase;

    width: 100%;

    font-size: 0.69em;

    line-height: 2.2;
}



.nav-top a {

    color:#FFCE84;

    padding: 0 1em;

    letter-spacing: 0.1em;

    display: inline-block;

}



.nav-top a:hover {

    color: #e74c3c;

    background: rgba(255,255,255,0.6);

}



.nav-top span.right {

    float: right;

}



.nav-top span.right a {

    float: left;

    display: block;

}



@media screen and (max-width: 46.0625em) {

    .column {

        width: 100%;

        min-width: auto;

        min-height: auto;

        padding: 1em;

    }



    .column p {

        text-align: left;

        font-size: 1.2em;

    }



    .column:nth-child(2) {

        box-shadow: 0 -1px 0 rgba(0,0,0,0.1);

    }



    .container > header h1 {

        font-size: 2.1em;

    }

}

/*справка*/
/*body{
	padding: 0;
	margin: 0;
	font-family: Calibri, sans-serif;
	font-size: 14px;
	color:white;
}*/
div{
    box-sizing: border-box;
}

.container{
    width: 1180px;
    margin: 0 auto;

}

input[name="back"]
{
    float: left;
    margin-top: 10px;
}
h1{
    color: white;
    margin: 0;
    padding-top: 20px;
    position:absolute;
}

.aboutSystem p{
    color: white;
    width: 1180px;
}

details{
    color: #9C27B0;

}
summary{
    color: #9C27B0;

}
.aboutSystem{
    position: absolute;
    margin-top: 100px;
}

.lol{
    width: 100px;
    height: 20px;
}
.lol2{
    width: 100px;
    height: 60px;
}
.styleButtonPage{
    background-color: #9C27B0;
    color: white;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 160px;
    margin-top:5px;
}

