span[name="historyPlayer"]{
  text-align: center;
  font-size: 24px;

}
.back_center{
  float: left;
}
.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 10px;
  width: 1180px;
  text-align: left;
  border-collapse: collapse;
  background: #252F48;
  margin: 10px;
}
th{
  text-align: center;
  font-size: 12px;
}
td{
  text-align: center;
}
.table_dark th {
  color: #EDB749;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 17px;
}
.table_dark th:nth-child(4){
  border-right:1px solid #37B5A5;
}
.table_dark th:nth-child(5){
  border-right:1px solid #37B5A5;
}
/*.table_dark th:nth-child(5){
  border-right::1px solid #37B5A5;
}*/
.table_dark td {
  color: #CAD4D6;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5;
  padding: 7px 17px;
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}
.table_dark tr:hover td {
  text-decoration: underline;
}

.no td:nth-child(1){
  border-right: none;
}
.no td:nth-child(2){
  border-right: none;
}
.no td:nth-child(3){
  border-right: none;
}
