body{
	padding: 0;
	margin: 0;
	font-family: Calibri, sans-serif; 
	font-size: 20px;
	color:black;


}
div{
	box-sizing: border-box;
}

.container{
	width:100vh;
	height:100vh;
	margin: 0 auto;
}
#background{
	background: url(../resources/background.jpg) no-repeat center top / cover;
	height:100vh;
}

.registration{
	width: 700px;
	height: 500px;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -350px;
 }
span[name="EGP"]
{
	margin-left: 45%;
}
 .login{
margin-left: 280px;
margin-top: 50px;
 }

.entry{
margin-left: 256px;
margin-top: 10px;
}

.gender{
	margin-left: 280px;
   margin-top: 20px;
	margin-bottom: 10px;
}

.radio1{
	margin-left: 100px;
	margin-top:10px;
}
.radio2{
	margin-left: 30%;
}

.avatar{
	margin-left: 270px;
	margin-top: 20px;
}

.deiner{
	width: 130px;
	height: 150px;
	margin-top: 20px;
	margin-left: 32px;
}
.creation{
	width: 120px;
	height: 40px;
	margin-top: 30px;
	margin-left: 200px;
}

.but_podcluch{
	width: 180px;
	height: 40px;
	margin-top: 30px;
	margin-left: 50px;
}
#man_image{
	display: none;
}

.fieldavatar{
	width: 140px;
	height: 160px;
	margin-top:10px;
}

.fieldlogin{
	color: white;
	padding-top: 20px;
	margin-left: 50px;

}
.bank{
	width: 170px;
	height: 170px;
}

.bankMove{

	margin-left: 570px;
	margin-top: 60px;
}

.player{
	width: 130px;
	height: 150px;
}
.playertop{
	width: 130px;
	height: 150px;
	margin-top:5%;
}
.player1 span{
	float: top;
}
.player2 span{
	float: top;
}
.player3 span{
	float: top;
}
.player4 span{
	float: top;
}
.player1{
	color: white;
	margin-left: 580px;
	margin-top: -340px;
}

.player2{
	color: white;
	margin-top: 10px;
	margin-left: 400px;
}

.player3{
	color: white;
	margin-left: 760px;
	margin-top: -180px;

}

.player4{
	color: white;
	margin-left: 580px;
}

.bagfield{
	width: 290px;
	height: 260px;
	background-color: white;
	/*margin-top:-220px;*/
	float: left;
}

.labelbag{
	margin-left: 110px;
	padding-top: 10px;
}

.bag_picture{
width: 70px;
height: 70px;
margin-left: 10px;
}

.bag_kolvo{
	margin-left: 100px;
	margin-top:-240px;
}
.money_sum{
	margin-top: 50px;
}

.complete{
	float: right;

}

.request{
	float: right;
	margin-right: 100px;
}

.exit{
	float: right;
	margin-top: 10px;
}
.history{
	float: right;
	margin-top: 10px;
	margin-right: 40px;
}

.question{
	width: 30px;
	height: 30px;
	margin-top: 10px;
	float: right;
	margin-right: 30px;
}

/* HIDE RADIO */
#woman_image [type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
#man_image [type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */
#woman_image  [type=radio] + img {
	cursor: pointer;
}
#man_image  [type=radio] + img {
	cursor: pointer;
}

/* CHECKED STYLES */
#woman_image [type=radio]:checked + img {
	outline: 2px solid #7B1FA2;
}
#man_image [type=radio]:checked + img {
	outline: 2px solid #7B1FA2;
}


.podkluch {
	width: 500px;
	height: 330px;
	margin-left: 20%;
	margin-top: 320px;
	background-color: white;
	position: absolute;
}
/*не умеешь ты настраивать. тупая.*/

#select{
	margin-left: 230px;
	margin-top:20px;
}

.numbr{
	color: black;
	margin-left: 130px;
	margin-top: 50px; }

.room{
	margin-top: 30px;
	margin-left: 140px;
}

.name_room{
	margin-top: 20px;
	margin-left: 165px;
}

.create {
	margin-top: 9%;
	margin-left: 20%;
	background-color: #9C27B0;
	display: inline-block;
	color: white;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 180px;
}

.back{
	margin-left: 3%;
	display: inline-block;
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 180px;
	margin-top: 9%;
}

.podcluch{

	width: 800px;
	height: 600px;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
}

.podcluch_img{
	margin-left: 30px;
	margin-top: 30px;
}

.choose{
	float: right;
	width: auto;
	height: auto;
	margin-right: 130px;
	margin-top: -200px;
}

.podcluch_game{
	position:absolute; /* добавили */
	bottom:20px; /* добавили */
	margin-left: 100px;
	margin-top: 30px;
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 200px;
	margin-top:5px;
}

.back_podc {
	margin-left: 3%;
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 180px;
	margin-top: 9%;
	position: relative;
}

.child_table td {
	padding: 5px;
	padding-right: 10px;
	border: 1px solid  #7B1FA2;
	border-right: none;
	border-bottom: none;
}

.child_table th {
	padding: 10px;
}
.child_table tr:first-child td {
	border-top: none;
}
.child_table td:first-child {
	border-left: none;
}

body {font-family: Arial, Helvetica, sans-serif;}

#myBtn1,#myBtn2,#myBtn3,#myBtn4 {
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 180px;
	margin-bottom: 30px;
	position: relative;
}

input[name="podkl"]{
	margin-left: 20px;
}
.styleButtonPage{
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 180px;
	margin-top:5px;
	position: relative;
}
.styleButtonPagePod{
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 200px;
	margin-top:5px;
	position: relative;
}
.information2{
	margin-left: 20%;
	margin-top:20px;
}
#myBtn5{
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 180px;
	position: relative;
}
#sendBtn {
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 160px;
	margin-left:170px;
	margin-top:20px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 80%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
	position: relative;
	background-color: white;
	margin: auto;
	padding: 0;
	border: 5px solid #7B1FA2;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}


.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #9C27B0;
	color: white;
}

.modal-body {
	padding:10px;
	width:100%;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #9C27B0;
	color: white;
}

.right{
	position: relative;
	width:150px;
	padding-left:70px;
	padding-bottom:15px;

}

.left{
	position: absolute;
	width:200px;
	margin-left:60%;

}
body {font-family: Arial, Helvetica, sans-serif;}


#sendBtn {
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 120px;
	margin-left:39%;
	margin-top:20px;
}
.styleButton{
	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 160px;
	margin-top:20px;
}
.modal {
	/*display: none; *//* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 17%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
	position: relative;
	background-color: white;
	margin: auto;
	padding: 0;
	border: 5px solid #7B1FA2;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}


.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #9C27B0;
	color: white;
}

.modal-body {
	padding:5px;
	width:100%;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #9C27B0;
	color: white;
}

.table_dark {

	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	width: 640px;
	text-align: left;
	border-collapse: collapse;
	background: #252F48;
	margin: 0 auto;
}
.table_dark th {
	color: white;
	border-bottom: 1px solid white;
	padding: 12px 17px;
}
.table_dark td {
	color: #CAD4D6;
	border-bottom: 1px solid #37B5A5;
	border-right:1px solid #37B5A5;
	padding: 7px 17px;
}
.table_dark tr:last-child td {
	border-bottom: none;
}
.table_dark td:last-child {
	border-right: none;
}


.right{
	/* position: relative; */
	width:200px;
	margin-left:50%;
	padding-bottom:15px;

}

.left{
	position: absolute;
	width:200px;
	margin-left:15%;

	/* margin-left:50%; */

}

p{
	text-align: center;
}
h3{
	text-align: center;
}

input[type=number]
{
width:60px;}
/*margin-left: 40%;*/

input[name="numberOfAutoFactory"]
{
	width:60px;
	margin-top:10px;
	margin-left: 10%;
	/*margin-left: 40%;*/
}
input[name="numberOfBasicFactory"]
{
	width:60px;
	margin-top:10px;
	margin-left: 10%;
	margin-right: 5%;
	/*margin-left: 40%;*/
}
span[name="span_right"]{
	margin-right: 10px;
}
input[type=text]
{
margin-right: 10px;
}

input[name="numberOfUnits"]
{
	width:60px;
	margin-left: 35%;
}
input[name="amountOfMoney"]
{
	width:60px;
	margin-left: 35%;
}

/*input[type=text]
{
width:100%;
}*/
span[name="ESM"]
{
	margin-left: 40%;
	width:10%;
}

span[name="material"]
{
	width:10%;
	margin-left:47%;
}
.h2{
	float: left;
}
.wow{
	width: 100%;
	height:60px;
}
.wow2{
	width: 100%;
	height:80px;
}
.capital{
	width: 70px;
	float: left;

}
capital_ssuda{
	width: 70px;
	float: left;
	margin-left: 10%;
}
.money{
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 20px;
}

.expense{
	float: left;
	margin-left: 40px;
}

.pererab{
	float: left;
	margin-left: 70px;
}
span[name="zatrata"]{
	float: left;
	width:10%;
	margin-left: 10px;
	margin-top: 20px;
}
.box_line{
	width: 100%;
	height: 1px;
	background-color: black;
	margin-top: 2px;
}

.lala{
	width: 100%;
	height: 100px;
}
/*Механ фабрика*/
.ob_fabrica{
	width: 100%;
	height:60px;
}


.mexan{
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 5%;
}

span[name="obch_fabrica"]{
	float: left;
	width:10%;
	margin-left: 19%;
	margin-top: 20px;
}

input[name="mexan"]
{
	width: 60px;
	margin-left: 10%;
	margin-top: 20px;
}

.ob_fabrica_name{
	float: left;
	height: 20px;

}

/*Автомат фабрика*/

.avto_fabrica{
	width: 100%;
	height:70px;
	margin-top:30px;
}

.avtomat{
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 5%;
}

span[name="avtomat_fabrica"]{
	float: left;
	width:10%;
	margin-left: 8%;
	margin-top: 20px;
}

input[name="avtomat"]
{
	width: 60px;
	margin-left: 10%;
	margin-top: 20px;
}
capital_ssuda{
	width: 70px;
	float: left;
	margin-left: 5%;
}
.avto_fabrica_name{
	float: left;
}
.avto_fabrica_name_ssuda{
	float: left;
	margin-left: 8%;
}
input[name="numberLoanForBasicPlants"]{
	margin-left:8%;
}
input[name="numberLoanForAutoPlants"]{
	margin-left: 9%;
}
/*кнопка отмены и переработки*/
.buttons_pererab{
	width: 100%;
	height: 70px;
	margin-top: 10px;
	margin-left: 27%;
}
input[name="pererabotka"]{

	margin-top: 20px;
	float: left;
}

input[name="cancel"]{
	margin-left: 5%;
	margin-top: 20px;
	float: left;
}
.ob_fabrica_name_fabr{
	float: left;
	height: 20px;
	margin-left: 2%;
}

.seconds{
	margin-left: 8%;
	color: #cd94e0;
	font-size: 30px;
}
/*исход есм*/
.table_dark {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	width: 640px;
	text-align: left;
	border-collapse: collapse;
	background: #252F48;
	margin: 0 auto;
}
.table_dark th {
	color: #EDB749;
	border-bottom: 1px solid #37B5A5;
	padding: 12px 17px;
}
.table_dark td {
	color: #CAD4D6;
	border-bottom: 1px solid #37B5A5;
	border-right:1px solid #37B5A5;
	padding: 7px 17px;
}
.table_dark tr:last-child td {
	border-bottom: none;
}
.table_dark td:last-child {
	border-right: none;
}

.buttons_dynamic{
float: end;
}
#history{
	float: right;
}
#exit_rooms{
	float: right;
	margin-left: 25px;
}

body{
	padding: 0;
	margin: 0;
	font-family: Calibri, sans-serif;
	font-size: 20px;
	color:black;
}
div{
	box-sizing: border-box;
}

.container{
	width: 1180px;
	margin: 0 auto;
}
input[name="back"]
{
	float: right;
	margin-top: 20px;
}
h1{
	color: white;
	margin: 0;
	padding-top: 20px;
	position:absolute;
}

.aboutSystem p{
	color: white;
}

details{
	color: #9C27B0;
}
summary{
	color: #9C27B0;
}
.aboutSystem{
	position: absolute;
	margin-top: 100px;
}

.lol{
	width: 100px;
	height: 20px;
}
.lol2{
	width: 100px;
	height: 60px;
}
.ssuda{
	float:right;
	margin-right: 10%;
}

.mexan_ssuda{
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 33%;
}

.avtomat_ssuda{
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 20%;
}

.styleButtonSsuda{

	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 160px;
	margin-top:20px;
}
.styleButtonSsudaLeft{

	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 180px;
	margin-top:20px;
	margin-left: 33px;
}
.buttons_ssuda{
	width: 100%;
	height: 70px;
	margin-top: 10px;
	margin-left: 25%;
}

.capital_sold h3{
	float: left;
	margin-left: 10%;
}

.fabric_sold h3{
	float: left;
	margin-left: 10%;
}

/*Фабрики*/

.havefabriki{
	float: left;
	margin-left: 10%;
	margin-right:10%;
}


.ob_fabrica_fabr{
	width: 100%;
	height:60px;
	margin-left: 10%;
}
.avto_fabrica_fabr{
	width: 100%;
	height:60px;
	margin-left: 10%;
}

.avtomatizac{
	width: 70px;
	float: right;
	margin-right: 15%;
	/*margin-left: 10%;*/
}
.cost{
	width: 70px;
	float: left;
	/* margin-right: 15%;*/
	margin-left: 30%;
}
.buy{
	margin-left: 2%;
	height: 0px;
	/* margin-right:30%;*/
}

input[name="mexan_fabr"]
{
	width: 60px;
	margin-left: 5%;
	margin-top: 20px;
}

input[name="avtomat_fabr"]
{
	width: 60px;
	margin-left: 5%;
	margin-top: 20px;
}

span[name="obch_fabrica_fabr"]{
	float: left;
	width:10%;
	margin-left: 17%;
	margin-top: 20px;
}
span[name="avtomat_fabrica_fabr"]{
	float: left;
	width:10%;
	margin-left: 4%;
	margin-top: 20px;
}

.styleButtonAvtomat{

	background-color: #9C27B0;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	width: 190px;
	margin-top:20px;
	margin-left: 5%;
}
.buttons_avtomat{
	width: 100%;
	height: 70px;
	margin-top: 10px;
	margin-left: 15%;
}
.box_line_white{
	width: 90%;
	height: 1px;
	background-color: white;
	margin-top: 2px;
}

.box_vertical{
	width: 1px;
	height: 70px;
	background-color: black;
	float: right;
	margin-right: 25%;
}

input[name="new_fabrika"]
{
	float: right;
	width: 60px;
	margin-right: 12%;
	margin-top: 20px;
}

/**, *:before, *:after {box-sizing:border-box; outline:0; font:12px verdana;}*/
/*.vopros-min-partiya {*/
/*	position:relative;*/
/*	top:50px; left:100px;*/
/*	border:1px solid #aaa;*/
/*	padding:10px;*/
/*}*/
.modalka {
	position:absolute;
	background:white;
	border:2px solid #9C27B0;
	padding:5px;
	display:none;
}

.login_pod{
	float: left;
	margin-left: 10%;
	position: absolute;
}